*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  }

.container{
    max-width: 1600px;
    width: 100%;;
    margin: 0 auto;  
  }
  
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.nav-menu {
    display: flex;       
    gap: 32px;           
    list-style: none;    
    padding: 0;
    margin-top: 34px;    
}

.nav-logo{
    margin-top: 16px;
    margin-left: 120px;
    width: 139px;
    height: 60px;    
  }

.nav-bar ul {
  display: flex;  
  color: #000;
}

.nav-menu li {
  list-style: none;
}

.nav-menu li{
  list-style: none;
}

.nav-menu a{
  text-decoration: none;
  color: #000; 
}

.nav-btn button{
      width: 164px;
      height: 44px;
      border: none;
      border-radius: 4px;
      margin-top: 24px;
      margin-right: 120px;
      font-size: 16px;
      font-weight: 600;
      color: white;
      cursor: pointer;
      background-color: #30B868  
  }

/* Nav sec done    */

/* Hero sec start from here */
.hero_section {
    background: linear-gradient(#001931CC, #001931CC), url(../Images/hero-bg.png);
    width: 100%;
    max-width: 1600px;
    margin-top: 39px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    height: 674px;
    display: flex;
    justify-content: center;
    text-align: center;
        
}
.banner{
  margin: 115.5px 120px 179.5px 120px;
}
.banner .btn_1{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  width: 229px;
  height: 35px;
  border: none;
  background-color: #fff;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: medium;
  color: #30B868;
  padding: 8px 12px 8px;
  margin-bottom: 16px;
}
.concentric-dot{
    width: 6px;   
    height: 6px;
    background-color: #30B868;
    border-radius: 50%;
    margin-left: 8px; /* Offset to center the rings within the badge */
    
    /* Box-shadows calculated for 12px and 16px outer diameters */
    box-shadow: 
       0 0 0 3px rgba(48, 184, 104, 0.3), /* Middle Ring (30% opacity) */
        0 0 0 5px rgba(48, 184, 104, 0.1); /* Outer Ring (10% opacity) */
}
/* .dot{
  width: 16px;
  height: 16px;
  background-color: #30B868;
  border-radius: 50%; 
  margin: 9.5px 201px 9.5px 12px;
    display: inline-block;
} */